@font-face {
    font-family: 'BebasNeue';
    src: url("../fonts/BebasNeue.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BebasNeue';
    letter-spacing: 2px;
    background-color: #141414;
    color: white;
}

h5 {
    letter-spacing: 2px;
    color: white;
    font-size: 17px;
}

.card {
    display: none;
}

.card-deck {
    margin: 10px 0 40px 0;
}

.logo {
    padding: 0;
    margin-right: 100px;
}

.navbar, .nav-fill {
    background-color: transparent;
    border-bottom: 1px solid #1C1C1C;
}

.nav-link {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.nav-link .active {
    color: white !important;
}

.active > .nav-link {
    font-weight: bold;
    border-bottom: 2px solid #E50914;
}

a.navbar-nav-item, .nav-link > img {
    margin: 0 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    border-bottom: 2px solid #E50914;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    margin: auto;
    margin-left: 25px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-indicators li {
    margin-left: 10px;
    margin-right: 10px;
    height: 5px;
    width: 50px;
}

.carousel-caption {
    width: 100%;
    text-align: left;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.carousel-caption p {
    width: 33%;
}

.carousel-caption h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a, a:hover {
    color: white;
}

.justify {
    text-align: justify;
}

.icon-nav {
    margin: 0 5px;
    opacity: 0.5;
}

.active > .icon-nav, .icon-nav:hover {
    opacity: 1;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 100px;
}

.margin-top-under-sm {
    margin: 20px 0;
}

.margin-right {
    margin-right: 50px;
}

.margin-right-md {
    margin-right: 20px;
}

.margin-right-sm {
    margin-right: 3px;
}

.padding-bottom-sm {
    padding-bottom: 3px;
}

.navbar-toggler {
    margin: 10px 0;
}

.btn {
    padding: 5px 10px;
    color: white;
    transition: 0.3s;
    border-radius: 25px;
    z-index: 999;
    white-space: nowrap;
    text-align: center;
}

.btn-lg {
    padding: 10px 30px;
    border-radius: 25px;
}

.btn-md {
    padding: 5px 30px;
    border-radius: 25px;
}

.btn-md:active, .btn-md:focus {
    background-color: #E50914;
}

.btn-primary, .btn-primary:hover {
    background-color: #E50914;
    border-color: #E50914;
    box-shadow: 0 8px 16px 0 #E50914;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #141414;
    border-color: #141414;
    box-shadow: 0 8px 16px 0 #141414;
}

/** Flickity carousel **/
.carousel-cell {
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 100px;
}

.carousel-cell:first-child {
    width: 19%;
    margin-left: 0;
}

.carousel-cell:nth-child(6n+6) {
    width: 19%;
    margin-left: 0;
}

.carousel-cell:nth-child(5n+5) {
    width: 19%;
    margin-right: 0;
}

.carousel-cell > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.carousel-filter-cell {
    width: 18%;
    margin-right: 1%;
    margin-left: 1%;
}

.carousel-filter-cell:first-child {
    width: 19%;
    margin-left: 0;
}

.carousel-filter-cell:nth-child(6n+6) {
    width: 19%;
    margin-left: 0;
}

.carousel-filter-cell:nth-child(5n+5) {
    width: 19%;
    margin-right: 0;
}

.carousel-filter-cell > a {
    width: 100%;
}

.card-img-top {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 150px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.5);
}

.carousel-cell:hover > img, .card:hover > img {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.carousel-cell:hover .overlay,  .card:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

.flickity-button {
    background: transparent;
    color: white;
    opacity: 0.5;
}
.flickity-button:hover {
    background: transparent;
    opacity: 1;
}

.flickity-prev-next-button {
    width: 50px;
    height: 50px;
}
/* icon color */
.flickity-button-icon {
    fill: white;
}
/* position outside */
.flickity-prev-next-button.previous {
    left: -70px;
}
.flickity-prev-next-button.next {
    right: -70px;
}
/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.row {
    margin: 0;
}
.no-padding {
    padding: 0;
}

.carousel-cell > h3, h4, h5 {
    margin-top: 10px;
}

.carousel-cell > .row > .col-3, .card > .row > .col-3 {
    opacity: 0.5;
    font-size: 15px;
}

.carousel-cell > .row > .rating,
.carousel-cell > .row > .col-3:hover,
.carousel-cell > .row > .selected,
.card > .row > .rating,
.card > .row > .col-3:hover,
.card > .row > .selected {
    opacity: 1;
}

.rating {
    color: #FFC107;
}

#loadMore {
    margin-top: -100px;
}

.value {
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    color: white;
}

.inline {
    display: inline;
}

.my-select {
    background-color: #E50914;
    color: white;
    font-family: 'BebasNeue';
    letter-spacing: 2px;
    border: 0 none;
    border-radius: 20px;
    padding: 6px 20px;
    width: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
  }
