@font-face {
    font-family: 'BebasNeue';
    src: url("../fonts/BebasNeue.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'BebasNeue';
    letter-spacing: 2px;
    background-color: #141414;
    color: #FFFFFF;
}

.logo {
    padding: 0;
    margin-right: 100px;
}

.navbar {
    background-color: transparent;
    border-bottom: 1px solid #1C1C1C;
}

.active > .nav-link {
    color: white;
}

a.nav-link {
    margin: 0 20px;
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    vertical-align: middle;
    margin: auto;
    margin-left: 25px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item:after {
    background: linear-gradient(to right, rgba(247,247,49,1) 0%,rgba(255,255,255,0) 69%);
}

.carousel-indicators li {
    margin-left: 10px;
    margin-right: 10px;
    height: 5px;
    width: 50px;
}

.carousel-caption {
    width: 100%;
    text-align: left;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    bottom: 0;
    top: 50%;
}

.carousel-caption p {
    width: 33%;
}

.carousel-caption h1, p {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a, a:hover {
    color: white;
}

.justify {
    text-align: justify;
}

.margin-top-under-sm {
    margin: 30px 0;
}

.margin-right {
    margin-right: 50px;
}
